.u-section-1 .u-sheet-1 {
  min-height: 10px;
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('images/83378795-01.jpeg');
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 420px;
}

.u-section-2 .u-text-1 {
  margin: 30px 61px 0 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 47px 252px 0 0;
}

.u-section-2 .u-text-3 {
  margin: 17px 312px 0 0;
}

.u-section-2 .u-text-4 {
  margin: 61px 137px 59px -25px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 52px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 15px;
    margin-right: 112px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 16px;
    margin-right: 112px;
    margin-left: 0;
  }

  .u-section-2 .u-btn-1 {
    padding: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 290px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-bottom: 55px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    margin-bottom: 46px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 137px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 378px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 46px 0 0;
}

.u-section-3 .u-list-1 {
  margin: 19px 0 42px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 17.3333px);
  grid-template-columns: repeat(3, calc(33.3333% - 17.3333px));
  min-height: 247px;
  grid-gap: 26px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 22px 0 22px 20px;
}

.u-section-3 .u-text-2 {
  font-size: 1.375rem;
  font-weight: 300;
  margin: 8px 0 0 58px;
}

.u-section-3 .u-icon-1 {
  height: 39px;
  width: 39px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: -31px 304px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 26px 1px 0 56px;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 22px 0 22px 20px;
}

.u-section-3 .u-text-4 {
  font-size: 1.375rem;
  font-weight: 300;
  margin: 8px 0 0 58px;
}

.u-section-3 .u-icon-2 {
  height: 39px;
  width: 39px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: -31px 304px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 26px 1px 0 56px;
}

.u-section-3 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 22px 0 22px 20px;
}

.u-section-3 .u-text-6 {
  font-size: 1.375rem;
  font-weight: 300;
  margin: 8px 0 0 58px;
}

.u-section-3 .u-icon-3 {
  height: 39px;
  width: 39px;
  text-shadow: -2px 0 0 rgba(0,0,0,0);
  margin: -31px 304px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 0.875rem;
  font-style: italic;
  margin: 26px 1px 0 56px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 386px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 18px;
    margin-bottom: 46px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 251px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 17px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 0;
    margin-right: -2px;
    margin-left: 53px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -46px;
    margin-right: 235px;
    margin-left: 2px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 35px;
    margin-right: 12px;
    margin-left: 2px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 17px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 0;
    margin-right: -2px;
    margin-left: 53px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -46px;
    margin-right: 235px;
    margin-left: 2px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 35px;
    margin-right: 12px;
    margin-left: 2px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-bottom: 17px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: -2px;
    margin-left: 53px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -46px;
    margin-right: 235px;
    margin-left: 2px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 35px;
    margin-right: 12px;
    margin-left: 2px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 574px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 46px;
    margin-bottom: 30px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(50% - 13px);
    grid-template-columns: repeat(2, calc(50% - 13px));
    min-height: 427px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -66px;
    margin-left: 66px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -31px;
    margin-right: 286px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: -66px;
    margin-left: 66px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -31px;
    margin-right: 286px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: -66px;
    margin-left: 66px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -31px;
    margin-right: 286px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 20px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 715px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% + 0px);
    grid-template-columns: 100%;
    min-height: 578px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-2 {
    margin-right: -50px;
    margin-left: 50px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 491px;
  }

  .u-section-3 .u-text-3 {
    margin-top: 27px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-4 {
    margin-right: -50px;
    margin-left: 50px;
  }

  .u-section-3 .u-icon-2 {
    margin-right: 491px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 27px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
  }

  .u-section-3 .u-text-6 {
    margin-right: -50px;
    margin-left: 50px;
  }

  .u-section-3 .u-icon-3 {
    margin-right: 491px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 825px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 46px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 100%;
    min-height: 662px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 8px;
    margin-right: 25px;
    margin-left: 67px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -39px;
    margin-right: 291px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin: 23px 12px -1px 0;
  }

  .u-section-3 .u-container-layout-2 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 8px;
    margin-right: 25px;
    margin-left: 67px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -39px;
    margin-right: 291px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin: 23px 12px -1px 0;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 8px;
    margin-right: 25px;
    margin-left: 67px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: -39px;
    margin-right: 291px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin: 23px 12px -1px 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 447px;
}

.u-section-4 .u-text-1 {
  margin-bottom: 0;
  margin-top: 21px;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 21px 0;
}.u-section-5 .u-sheet-1 {
  min-height: 1304px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  margin: 21px auto 0 0;
}

.u-section-5 .u-text-2 {
  margin: 20px 186px 0 0;
}

.u-section-5 .u-image-1 {
  width: 586px;
  height: 577px;
  margin: 22px 554px 0 0;
}

.u-section-5 .u-image-2 {
  width: 609px;
  height: 564px;
  margin: -49px auto 0 0;
}

.u-section-5 .u-image-3 {
  width: 510px;
  height: 336px;
  margin: -1049px 21px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1677px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    margin-top: 34px;
    margin-right: 354px;
  }

  .u-section-5 .u-image-2 {
    margin-top: 256px;
    margin-right: 331px;
  }

  .u-section-5 .u-image-3 {
    width: 476px;
    height: 334px;
    margin-top: -820px;
    margin-right: auto;
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1771px;
  }

  .u-section-5 .u-image-1 {
    margin-right: 134px;
  }

  .u-section-5 .u-image-2 {
    width: 504px;
    height: 504px;
    margin-top: 309px;
    margin-right: auto;
  }

  .u-section-5 .u-image-3 {
    width: 358px;
    height: 251px;
    margin-top: -755px;
    margin-right: 362px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1623px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 532px;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: 256px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -739px;
    margin-right: 182px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1352px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 335px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 239px;
    margin-top: -575px;
    margin-right: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 876px;
}

.u-section-6 .u-text-1 {
  text-transform: uppercase;
  margin: 23px 186px 0 0;
}

.u-section-6 .u-text-2 {
  margin: 18px 0 0;
}

.u-section-6 .u-image-1 {
  width: 682px;
  height: 443px;
  margin: 30px 458px 0 0;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -269px 9px 0 712px;
}

.u-section-6 .u-text-4 {
  font-size: 0.857143rem;
  font-weight: 700;
  margin: 202px 603px 60px 201px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    width: auto;
  }

  .u-section-6 .u-image-1 {
    margin-right: 258px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    font-size: 1rem;
    margin-top: -310px;
    margin-right: 31px;
    margin-left: 700px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin: 194px 431px 39px 173px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 873px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 38px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 74px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-4 {
    margin: -112px 225px 60px 159px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 781px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 351px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-top: 59px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -101px;
    margin-right: 119px;
    margin-left: 85px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 808px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 221px;
    margin-top: 20px;
  }

  .u-section-6 .u-text-3 {
    margin-top: 90px;
  }

  .u-section-6 .u-text-4 {
    margin-top: -161px;
    margin-right: 4px;
    margin-left: 0;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 461px;
}

.u-section-7 .u-text-1 {
  text-transform: uppercase;
  margin: 12px auto 0 0;
}

.u-section-7 .u-text-2 {
  margin: 57px 570px 0 0;
}

.u-section-7 .u-image-1 {
  width: 552px;
  height: 163px;
  margin: -251px 0 88px 588px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-top: 24px;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 274px;
    margin-right: 0;
  }

  .u-section-7 .u-image-1 {
    margin: -420px auto 257px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 674px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -520px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 617px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 230px;
  }

  .u-section-7 .u-image-1 {
    height: 159px;
    margin-top: -443px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-7 .u-text-2 {
    margin-top: 208px;
  }

  .u-section-7 .u-image-1 {
    margin-top: -554px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 622px;
}

.u-section-8 .u-text-1 {
  font-size: 1.28571rem;
  font-style: italic;
  margin: 32px 0 0;
}

.u-section-8 .u-image-1 {
  width: 279px;
  height: 327px;
  margin: 120px 79px 0 auto;
}

.u-section-8 .u-text-2 {
  margin: -368px 500px 32px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 867px;
  }

  .u-section-8 .u-image-1 {
    margin-top: 56px;
    margin-right: auto;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    margin-top: 21px;
    margin-right: 0;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    font-size: 1rem;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 502px;
}

.u-section-9 .u-text-1 {
  text-transform: uppercase;
  margin: 22px auto 0 0;
}

.u-section-9 .u-text-2 {
  margin: 48px 33px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-2 {
    margin-right: 0;
  }
}